<h1>여기는 mouse</h1>

<a href='/lotto/index'>점프!</a><br>

이번주 로또 번호는 <%=@drw_numbers%> 이고 <br>
보너스 번호는 <%=@bonus_number%> 입니다. <br>
추점한 로또 번호는 <%=@my_numbers%> 입니다. <br>
겹치는 번호는 <%=@match_numbers%> 입니다. <br>
결과는 <%=@result%> 입니다.